{% extends 'cutout/base.html' %}
{% load static %}
{% block content %}
<style>
    .monospace-input {
        font-family: 'Courier New', Courier, monospace;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        vertical-align: middle
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
    .tooltip-box {
    position: relative;
    display: inline-block;
    }

    .tooltip-box .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-align: left;
    border-radius: 4px;
    padding: 6px;
    font-family: monospace;
    font-size: 0.9rem;
    position: absolute;
    z-index: 10;
    top: -5px;   /* aligns beside button */
    left: 120%;  /* pushes it to the right of the button */
    }

    .tooltip-box:hover .tooltip-text {
    visibility: visible;
    }

</style>
<form action="/cutout/" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-4 offset-1">
                <div class="my-3">
                    <label for="id_job_name">Job name:</label>
                    <input type="text" name="job_name" value="" placeholder="Job name" style="width: 300px;"
                        class="form-control" maxlength="100" id="id_job_name">
                </div>
                <div class="my-3">
                    <label for="id_job_description">Job description:</label>
                    <input type="text" name="job_description" value="" placeholder="Job description"
                        style="width: 300px;" class="form-control" maxlength="200" id="id_job_description">
                </div>
                <div class="row">
                    <div class="col-4 offset-0">
                        <div class="my-3">
                            <label for="id_xsize">Global X Size:</label>
                            <input type="text" name="xsize" value="" placeholder="arcmin" style="width: 100%;" class="form-control monospace-input" required
                            id="id_xsize">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="my-3">
                            <label for="id_ysize">Global Y Size:</label>
                            <input type="text" name="ysize" value="" placeholder="arcmin" style="width: 100%;" class="form-control monospace-input" required
                                id="id_ysize">
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    <label for="id_survey">Survey:</label><br>
                    <label>
                        <input type="radio" name="tag" value="Y6A2" checked>
                        DES
                    </label>

                    <label>
                        <input type="radio" name="tag" value="DR3">
                        DECA
                    </label>
                </div>
                
                <div class="my-3">
                    <label for="id_bands">Bands:</label>
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <label>g</label>
                        <label class="switch">
                            <input type="checkbox" name="bands" value="g" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <label>r</label>
                        <label class="switch">
                            <input type="checkbox" name="bands" value="r" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div style="display: flex; align-items: center; gap: 10Px;">
                        <label>i</label>
                        <label class="switch">
                            <input type="checkbox" name="bands" value="i" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <label>z</label>
                        <label class="switch">
                            <input type="checkbox" name="bands" value="z" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div style="display: flex; align-items: center; gap: 10px;">
                        <label>Y</label>
                        <label class="switch">
                            <input type="checkbox" name="bands" value="Y" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="my-3">
                    <label for="id_input_csv">Coordinates:</label>
                    <textarea name="input_csv" rows="10" placeholder="RA,DEC,XSIZE,YSIZE" style="width: 100%;" class="form-control monospace-input"
                    required id="id_input_csv">{{ textarea_initial }}</textarea>
                </div>
                 
                <div class="my-3">
                    <form action="/cutout/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" value="Generate cutouts" class="btn btn-primary">
                    </form>

                     <span class="tooltip-box">
                        <i class="bi bi-question-circle" style="font-size: 1.2rem; cursor:pointer;"></i>
                        <span class="tooltip-text">
                            Example CSV format:<br>
                            RA,DEC,XSIZE,YSIZE<br>
                            49.9208, -19.4166, 3.3, 3.3<br>
                            150.1145, 2.2058, 5.0, 5.0
                        </span>
                    </span>

                   <div class="my-3">
                    <input type="file" id="csvUpload" accept=".csv" style="display:none;" />
                    <button type="button" class="btn btn-success"
                            onclick="document.getElementById('csvUpload').click();">
                        Upload CSV
                    </button>
                    </div>

                    <script>
                    document.getElementById("csvUpload").addEventListener("change", async (e) => {
                        const file = e.target.files[0];
                        if (!file) return;
                        const text = await file.text();
                        // replace \r\n with \n to match backend expectations
                        const normalized = text.replace(/\r\n/g, "\n");
                        // put into the textarea Django already expects
                        document.getElementById("id_input_csv").value = normalized;
                    });
                    </script>
                </div>
                
              
            </div>
              

        </div>
    </div>
</form>
{% endblock %}
