{% load tags %}
<footer class="footer py-3 bg-light">
  <div class="row align-items-end">
    <div class="col-lg-6 offset-lg-3 col-xs-12 offset-xs-0">
      <span class="text-muted">
        <a href="mailto:" target="_blank">
          <i class="bi bi-life-preserver"></i>Ask for help and report bugs here</a>.
          | <a href="#">{% app_version "v" %}</a>
        </span>
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col-lg-12">
      <span class="text-muted">
        <a href="#" target="_blank">This project</a> is supported by [funding information].
      </span>
    </div>
  </div>
</footer>
