{% extends 'cutout/base.html' %}
{% block content %}
<style>
  .script-box {
    border: 1px solid gray;
    padding: 1rem;
    background-color: rgb(240, 239, 239);
    max-height: 10rem;
    overflow-y: scroll;
    font-size: medium;
    font-family: monospace;
  }
</style>
<!-- <h2>Job files</h2> -->
<h2>Job ID: <code>{{ object.uuid }}</code></h2>
<h3>Name: &ldquo;{% if object.name %}{{ object.name }}{% else %}{{ object.uuid | truncatechars:9 }}{% endif %}&rdquo;</h3>
<hr>

<div class="container">
  <div class="row pt-3">
    <div class="col-lg-6">
      <h3>{% if object.status == 'SUCCESS' %}
        ✅ <span style="color: green;">{{ object.status }}</span>
        {% elif object.status != 'FAILURE' %}
        ⏳ {{ object.status }}
        {% else %}
        🚫 <span style="color: red;">{{ object.status }}</span>
        {% endif %}</h3>
      <p>Created: {{ object.created }}<br>Updated: {{ object.modified }}</p>
      {% if object.description %}
      <h3>Description</h3>
      {{ object.description }}
      {% endif %}
      <h3>Processed coordinates</h3>
      <div style="border: 1px solid gray; padding: 1rem; background-color: rgb(240, 239, 239); max-width: 100%; max-height: 20rem; overflow-y: scroll; font-size: medium; font-family: monospace;"><pre>{{ coords }}</pre></div>
      {% if object.error_info %}
      <h3>Error Info</h3>
      <div style="border: 1px solid red; padding: 1rem; background-color: rgb(255, 202, 202); max-width: 100%; max-height: 20rem; overflow-y: scroll; font-size: medium; font-family: monospace;">
        <pre>{{ object.error_info }}</pre>
      </div>
      {% endif %}
    </div>
    <div class="col-lg-6">
      <h3>Cutout config</h3>
      <div style="border: 1px solid gray; padding: 1rem; background-color: rgb(240, 239, 239); max-width: 100%; max-height: 20rem; overflow-y: scroll; font-size: medium; font-family: monospace;"><pre>{{ config }}</pre></div>
    </div>
  </div>
  <div class="row pt-3">
    {% if files %}
    <h3>Files</h3>
    <p>Copy and paste the script below to download all job files with <code>wget</code>,
      or click the items in the list below to download individual files. You can also <a href="{{ job_detail_api_url }}">
        use the API explorer to fetch all job details</a>.</p>
      <div class="container">
      <div class="row pt-3">
        <div class="col-1" style="z-index: 1;">
          <button id="copy-jobfile-script-btn" type="button" class="btn btn-primary copy-token" 
                  onclick="copyJobfileScript()" title="Copy to clipboard">
            <i class="bi bi-clipboard"></i>
          </button>
        </div>
        <div class="script-box col-10">
          <pre id="jobfile-script-text">{{ jobfile_download_script }}</pre>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Path</th>
            <th>Size (bytes)</th>
          </tr>
        </thead>
        <tbody>
          {% for job_file in files %}
          <tr>
            <td>
              <code><a href="../download/{{ object.uuid }}{{ job_file.path }}">{{ job_file.path }}</a></code>
            </td>
            <td class="uuid-table"><code>{{ job_file.size }}</code></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block extra_javascript %}
<script>
  function copyJobfileScript() {
    // Get the value from the script container
    var copyText = document.getElementById("jobfile-script-text");
    // Copy the value to the clipboard
    navigator.clipboard.writeText(copyText.innerHTML);
    var copyBtn = document.getElementById("copy-jobfile-script-btn");
    copyBtn.innerHTML = `<i class="bi bi-clipboard-check"></i>`;
  }
</script>
{% endblock %}
